@charset "UTF-8";

.nav{
  background-color: lightsteelblue;
}

.hed-bt{
  background-color: darkorange;
}

.inf{
  background-color:crimson;
}

/*.tp{
  background-color: thistle;
}
*/

.btn{
  background-color: crimson;
}

.sft{
  background-color:thistle ;
}
.sft-d{
  background-color: hotpink;
}

.new-inf{
  background-color: darkorange;
}

.form{
  background-color: azure;
}

.footer{
  background-color: lightsteelblue;
}