@charset "UTF-8";

body {
 background: #0bd url("../images/pexels-flors-q-685080.jpg") no-repeat;
 background-blend-mode: lighten;
 background-size: cover;
 line-height: 2em;
}

a{
 color: black;
}

a:hover {
 color: #FF7851;
}

ul{
 list-style-type: none;
}

em{
 box-shadow: black;
}

.js-animation {
 opacity: 0;
 visibility: hidden;
 transform: translateY(40px);
 transition: all 1s;
}
.js-animation.is-show {
 opacity: 1;
 visibility: visible;
 transform: translateY(0px);
}


